---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__avatar img {
  max-width: 160px;
  width: 160px; 
  height: 160px; 
  border-radius: 50%; 
}

.layout--single .page__content {
  font-size: 0.9rem;      // match normal page font size
  line-height: 1.5;
}

.author__content {
    padding-inline-end: 40px;
}